<div class="container-fluid">
	<div class="profile">
	    <img src="../assets/profile.jpg" class="profile-photo" alt="my face">
	    <div class="caption">
	        <h2>Sahil Naikdhure</h2>
	        <p>FrontEnd Web Developer</p>
	        <div class="links">
		        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
		        <i class="fa fa-github-square" aria-hidden="true"></i>
	    	</div>
	    </div>
	</div>
	<div class="about">
		<h1>About</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum voluptates laudantium nostrum dolores amet eveniet laboriosam voluptatum architecto et expedita dolorem culpa quo recusandae, voluptatem non ea, delectus voluptatibus sapiente!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus repellendus cum vero consectetur numquam at, dolor nihil eos explicabo assumenda voluptatem eveniet veritatis dolorem dolore harum, quaerat molestiae deserunt vitae.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ratione nihil nostrum quia soluta, totam dignissimos! Excepturi, atque, natus deleniti voluptas quae assumenda tempora quisquam explicabo sed animi illum ipsa!
		</p>
	</div>
</div>
