<div class="container">
  <h1>Projects</h1>
  
	<div class="row justify-content-around">
		<div class="col-4">
			<div class="card" style="width: 20rem;">
  				<img class="card-img-top" src="../assets/map.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h4 class="card-title">Neighborhood Map</h4>
    				<p class="card-text">Some quick example text.</p>
    				<a href="" class="btn btn-primary">View Project</a>
  				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card" style="width: 20rem;">
  				<img class="card-img-top" src="../assets/matchingGame.jpg" alt="Card image cap" style="height: 212px">
  				<div class="card-body">
    				<h4 class="card-title">Memory Game</h4>
    				<p class="card-text">Some quick example text.</p>
    				<a href="" class="btn btn-primary">View Project</a>
  				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card" style="width: 20rem;">
  				<img class="card-img-top" src="../assets/pixelArt.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h4 class="card-title">Pixel Art Maker</h4>
    				<p class="card-text">Some quick example text.</p>
    				<a href="" class="btn btn-primary">View Project</a>
  				</div>
			</div>
		</div>
	</div>
</div>