<div class="container">
	<h1>Skills</h1>
	<div class="row justify-content-around">
		<div class="col-4">
			<h5>HTML5</h5>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		<div class="col-4">
			<h5>CSS3</h5>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	<div class="row justify-content-around">
		<div class="col-4">
			<h5>JavaScript</h5>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		<div class="col-4">
			<h5>KnockoutJS</h5>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	<div class="row justify-content-around">
		<div class="col-4">
			<h5>jQuery</h5>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		<div class="col-4">
			<h5>Angular</h5>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
</div>