<div class="body">
    <div class="cover-photo">
    </div>
    <div class="lower">

           <div class="info">
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="nav-item nav-link" routerLink="/about">About</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" routerLink="/skill">Skills <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" routerLink="/project">Projects</a>
                  <a class="nav-item nav-link" href="">Education</a>
                </div>
              </div>
            </nav>
            <div>
            <router-outlet></router-outlet>
            </div>
    	</div>
    </div>
</div>


